<div class="center jumbotron">
  <h1>The Click</h1>
  <h3>Thoughts on the hard and soft edges of software</h3>
</div>



<% if is_admin? %>
  <div class="list-group">
    <div class="btn-group new-item-button " role="group" aria-label="...">
      <%= link_to  new_article_path, class: "btn btn-success" do %>
        New Article
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
      <% end %>
    </div>
  </div>
<% end %>


<% @articles.each do |art|  %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">
        <%= link_to art.title, article_path(art) %>
        <% if is_admin? %>

          <div class="btn-group-xs pull-right" role="group" aria-label="Right Align">
            <%= link_to  edit_article_path(art), class: "btn btn-default" do %> 
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 
            <% end %>
            <%= link_to  article_path(art), {'data-method' => :delete, class: "btn btn-danger"} do %> 
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 
            <% end %>
          </div>

        <% end %>
      </h1>
    </div>
    <div class="panel-body">
      <%= truncate art.text,length: 400, separator: ' ' %>    
    </div>
  </div>

<% end %>


